.container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: absolute;
    
    
    height: 200px;
    bottom: 0;
    right: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    a{
        text-decoration: none;
        img{
             width: 33px;
             height: 33px;
        }
    }
}