.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
    min-width: none;
    gap: 50px;
    
    flex-shrink: 2;
   
}