.container{
    display: flex;
    justify-content: space-eve;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
}